/* container geral */
.listaUsuarios {
    font-family: Arial, sans-serif;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
  }
  
  /* título principal */
  h2 {
    color: #333;
    text-align: center;
    margin: 20px;
  }
  
  /* lista de itens */
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #fff;
  }
  
  /* estilizando o texto dos itens */
  li span {
    font-size: 14px;
    color: #555;
  }
  
  /* botões */
  button {
    background-color: #007bff;
    border: none;
    color: #fff;
    padding: 8px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 0 4px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  /* estilizando o detalhe do usuário */
  .detalhes-usuario {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; /* Alinha os filhos em coluna */
    margin-top: 20px;
    padding: 15px;
    background-color: #e9ecef;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .detalhes-usuario h3 {
    margin-bottom: 10px; /* Espaçamento abaixo do título */
  }
  
  .detalhes-usuario pre {
    white-space: pre-wrap; /* Preserva quebras de linha */
    font-size: 14px;
    margin: 0; /* Remove a margem padrão */
  }
  